# PDF files.
*.pdf

# Python byte code.
*.pyc

zzz_*
*.converted
rotate_state
*.png
*year.txt
*.[12][0-9][0-9][0-9][0-9][0-9]
*.tgz
*.swp

# Temporary files
*~

# Data
web/models/settings.py
web/.coverage
