<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Debian Team Activity Metrics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style>
    body { padding-top: 60px; }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700' rel='stylesheet' type='text/css'>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.jqplot.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jqplot.highlighter.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jqplot.categoryAxisRenderer.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.jqplot.min.css" />
        <script>
            function metricname(metric){
                if(metric=='list'){ return 'liststat'; }
                else if(metric=='commits'){ return 'commits'; }
                else if(metric=='commitlines'){ return 'lines_added'; }
                else if(metric=='uploads'){ return 'uploads'; }
            }
            function parseAnnualData(data){
                graph = Object();
                console.log("graph object created")
                graph.labels = data.members;
                console.log("graph lables set")
                graph.udata = {};
                graph.ticks = []
                graph.labels.forEach(function(label){
                    graph.udata[label]=[]
                    console.log(graph.udata)
                });
                data.annualdata.forEach(function(data, index){
                    data.userdata.forEach(function(userdata){
                        graph.udata[userdata["name"]][index]=userdata[metricname('{{metric}}')]
                    });
                    graph.ticks.push(data.year)
                });
                graph.plotdata = []
                graph.legends = []
                graph.labels.forEach(function(label){
                    graph.legends.push({'label':label})
                    graph.plotdata.push(graph.udata[label])
                });
                return graph;
            }

            function plot(data){
                $.jqplot ('chartdiv',
                            data.plotdata,
                            {
                                legend: {
                                            show: true,
                                            location: 'ne',
                                            xoffset: 12,
                                            yoffset: 12,
                                            },
                                axes: {
                                    xaxis: { 
                                        renderer: $.jqplot.CategoryAxisRenderer,
                                        ticks: data.ticks,
                                        pad: 1.2
                                    }
                                },
                                highlighter: {
                                    show: true,
                                    sizeAdjust: 7.5,
                                    tooltipAxes: 'y'
                                },
                                series:data.legends
                            });
            }
            $(document).ready(function(){
                $.getJSON('/api/v1/a/{{team}}/{{metric}}/5/', function(jsondata){
                    data = parseAnnualData(jsondata.data[0]);
                    setInterval(plot(data),10000);
                });
                
                
            });
        </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" style="background:#fff;max-height:46px;box-shadow:none;border-bottom:1px solid #ddd;">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="span3">
              <a class="brand" href="#" style="font-family: 'PT Sans Narrow', sans-serif; color:#333;">
                <img src="/static/img/logo.png" class="form-inline">
                Debian Team Activity Metrics
              </a>
          </div>
          <div class="span6" style="position:absolute;right:0px;">
            <form class="form-inline" style="Padding-top:3px;" action="/getdata">
                    <select name="team">
                        <option value="teammetrics">Teammetrics</option>
                        <option value="teammetrics">Teammetrics</option>
                  </select>
                  <select name="metric">
                        <option value="list">Mailing List</option>
                        <option value="commits">Commits</option>
                        <option value="commitlines">Commit Lines</option>
                  </select>
                  <input class="btn" type="submit" value="Go">
                </form>
           </div>
          </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="chartdiv" class="span8" style="height:550px;width:800px;">
            
            </div>
            <div class="span4">
                
                <h1 style="font-family: 'PT Sans Narrow', sans-serif; color:#333;">{{team|capfirst}} Team</h1><br/>
                <p>{{metric|capfirst}} statistics for {{team|capfirst}}.</p>
                <table class="table">
                    <thead>
                        <tr><th>#</th><th>Person</th><th>Stats</th></tr>
                    </thead>
                    <tbody>
                    {% for name in namelist %}
                        <tr><td>{{forloop.counter}}</td><td>{{name.0}}</td><td>{{name.1}}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </body>
</html>


